
@{
    ViewData["Title"] = "Image Upload";
}

<div class="container body-content">
    <h2>@ViewData["Title"].</h2>


    <h4>Upload a new image.</h4>
    <hr />


    <div class="form-group">
        <label class="col-md-2 control-label">Title</label>
        <div class="col-md-10">
            <input class="form-control" />
        </div>
    </div>

    <br /><br /><br />

    <div class="form-group">
        <label class="col-md-2 control-label">Description</label>
        <div class="col-md-10">
            <textarea class="form-control"></textarea>
        </div>
    </div>

    <br /><br /><br />

    <div class="form-group">
        <label class="col-md-2 control-label">Image</label>
        <div class="col-md-10">
            <input type="file" name="file" id="file" value="dataFile" required="" input-group-lg" />
        </div>
    </div>   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 padding-top">
            <button id="uploadFile" type="submit" class="btn btn-default">Upload</button>
        </div>
    </div>

</div>

<script>
    window.$PhotoInputElement = $('#file');

    window.$PhotoInputElement.fileinput({
        uploadUrl: '/API/Image/UploadImage',
        uploadAsync: false,
        maxFileCount: 1,
        type: 'post',
        overwriteInitial: false,
        showUpload: false,
        showRemove: false,
        browseClass: 'btn btn-primary btn-md pull-right',
        previewFileIcon: '<i class="glyphicon glyphicon-king"></i>',
        allowedFileExtensions: ['jpg', 'jpeg', 'png'],
        uploadExtraData: function () {
            var out = {};
            return out;
        }
    });
    window.$PhotoInputElement.on('filebatchuploadcomplete', function (event, data, previewId, index) {
        var form = data.form, files = data.files, extra = data.extra,
            response = data.response, reader = data.reader;
        console.log(response);
        console.log(event);
        console.dir(data);
        $('body').fadeOut(2000, redirectPage);
    });
</script>

<script>
    function uploadFile() {
        var bucket = new AWS.S3({ params: { Bucket: 'csc1718s1' } });
        console.log("starting to upload to bucket")
        var fileChooser = document.getElementById('file');
        var file = fileChooser.files[0];
        if (file) {
            var params = { Key: 'FILE_NAME', ContentType: file.type, Body: file };
            bucket.upload(params).on('httpUploadProgress', function (evt) {
                console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total) + '%');
            }).send(function (err, data) {
                if (err) {
                    alert("File uploaded Error." + err.message);
                    console.log(err, err.stack);
                }
                else
                    alert("File uploaded successfully.");
            });
        }
        return false;
    }

</script>