@{
    ViewData["Title"] = "Admin";
}

<div class="container body-content">
    <h2>@ViewData["Title"].</h2>
    <div class="row">
        <div class="col-md-6 pull-left">
            <form id="myForm" class="form-horizontal smaller-width">
                <h4>Manage Subscription.</h4>
                <hr />
                <div class="form-group">
                    <label class=" pull-left control-label padding-left">Subscription Fee</label>
                    <div class="col-md-2">
                        <input type="text" id="txtSubscriptionFee" name="txtSubscriptionFee" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="btnSave" type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var accessToken = sessionStorage.getItem('accessToken');

    //loadSubscriptionFeeData();

    function loadSubscriptionFeeData() {



        loadSubscriptionFeeData = jQuery.ajax({
            method: 'GET',
            url: 'http://server.anythingabout.me/Account/Register',
            crossDomain: true,
            dataType: 'json',
            cache: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + accessToken)
            }
        })
        loadSubscriptionFeeDataHandler.done(function (data, textStatus, jqXHR) {

            console.log(data);

        })
        loadSubscriptionFeeDataHandler.fail(function (data, textStatus, jqXHR) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"]("There was an issue retrieving data from the server.", "Error")
        })
    }

    $(document).ready(function () {

        $("#btnSave").click(function () {

            event.preventDefault();

            function WebFormData(inSubscriptionFee) {
                this.SubscriptionFee = inSubscriptionFee;
            }

            collectedSubscriptionFee = $('#txtSubscriptionFee').val();

            var webFormData = new WebFormData(collectedSubscriptionFee);

            var webFormDataInString = JSON.stringify(webFormData);

            console.log(webFormDataInString);

            $saveHandler = jQuery.ajax({
                type: 'POST',
                url: 'http://server.anythingabout.me/Account/Register',
                crossDomain: true,
                data: webFormDataInString,
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'bearer ' + accessToken)
                }
            });

            $saveHandler.done(function (data, textStatus, jqXHR) {
                swal({
                    title: "Successful!",
                    text: "Subscription Fee Updated!",
                    type: "success"
                },
                    function () {
                        ignore = true;
                        window.location.replace("/Admin/ManageSubscription");
                    });
            });

            $saveHandler.fail(function (data, textStatus, jqXHR) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }

                toastr["error"](jqXHR, "Error")
            });
        });
    });
</script>