@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Life Time Talents</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/bootstrap-fileinput-master/css/fileinput.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-fileinput-master/js/fileinput.js"></script>
    <script src="~/lib/toastr-master/toastr.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" />
    <link href="~/lib/toastr-master/build/toastr.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
    <link href="~/lib/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" />

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Plugin CSS -->
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link href="~/css/creative.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/Home/Index">The Life Time Talents</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @await Html.PartialAsync("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/Talent/ViewTalents">View Talents</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Talent/AddTalent">Talent Upload</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/Home/Subscription">Subscription</a>
                    </li>
                </ul>
               
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

  
        @RenderBody()
        @*<hr />*@
        @*<footer>
            <p>&copy; 2017 - The Life Time Talents</p>
        </footer>*@
  

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/lib/scrollreveal/scrollreveal.min.js"></script>
    <script src="~/lib/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="~/js/creative.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
