<div id="loadNav"></div>

<script>
    var id_token = null;
    var displayName = "";
    id_token = sessionStorage.getItem('idToken');

    if (id_token != null) {

        loadDisplayNameData();

        function loadDisplayNameData() {

            loadDisplayNameDataHandler = jQuery.ajax({
                method: 'GET',
                url: 'http://server.anythingabout.me/Account/GetUserDisplayName/',
                crossDomain: true,
                dataType: 'json',
                cache: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Authorization', 'bearer ' + id_token)
                }
            })
            loadDisplayNameDataHandler.done(function (data, textStatus, jqXHR) {

                displayName = data.displayName;

                $('#loadNav').html("<form class='navbar-right'>"
                    + " <ul class='nav navbar-nav navbar-right padding-right'>"
                    + "<li>"
                    + " <a>Hello " + displayName + "!</a>"
                    + " </li>"
                    + "<li>"
                    + "<a class='page-scroll' href='/Talent/ViewTalents'>View Talents</a>"
                    + "</li >"
                    + " <li>"
                    + "  <a class='page-scroll' href='/Talent/AddTalent'>Add Talent</a>"
                    + "</li>"
                    + "<li class='dropdown'>"
                    + "<a href='#' id='drop' data-toggle='dropdown' class='dropdown-toggle' role='button'>"
                    + " Account <b class='caret'></b>"
                    + " </a>"
                    + " <ul class='dropdown-menu' role='menu' aria-labelledby='drop'>"
                    + "<li>"
                    + " <a class='page-scroll' href='/Home/Profile'>Profile</a>"
                    + "</li>"
                    + "<li>"
                    + " <a class='page-scroll' href='/Home/Subscription'>Subscription</a>"
                    + "</li>"
                    + " </ul>"
                    + "</li>"
                    + "<li class='dropdown'>"
                    + "<a href='#' id='drop' data-toggle='dropdown' class='dropdown-toggle' role='button'>"
                    + " Admin <b class='caret'></b>"
                    + " </a>"
                    + " <ul class='dropdown-menu' role='menu' aria-labelledby='drop'>"
                    + " <li>"
                    + "  <a class='page-scroll' href='/Admin/ManageSubscription'>Manage Subscription</a>"
                    + " </li>"
                    + " </ul>"
                    + "</li>"
                    + "<li>"
                    + "   <button type='submit' onclick='logout()' class='btn btn-link navbar-btn navbar-link'>Log out</button>"
                    + "</li>"
                    + "</ul>"
                    + " </form>")

            })
            loadDisplayNameDataHandler.fail(function (data, textStatus, jqXHR) {
                toastr.options = {
                    "closeButton": false,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-bottom-left",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["error"]("There was an issue retrieving data from the server.", "Error")
            })
        }
    }
    else {
        $('#loadNav').html("<form class='navbar-right'>"
            + " <ul class='nav navbar-nav navbar-right padding-right'>"
            + "<li><a asp-area='' href='/Account/Register'>Register</a></li >"
            + "<li><a asp-area='' href='/Account/Login'>Log in</a></li>"
            + "</ul>"
            + "</form>")
    }

    function logout() {
        event.preventDefault();
        sessionStorage.clear();
        window.location.replace("/Home/Index");
    }
</script>
