
@{
    ViewData["Title"] = "Subscription";
}

<header class="backgroundImage2">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Your Email has been confirmed!</h1>
            <hr>
            <p>Upload your Talent now!</p>
            <a href="/Home/Index" class="btn btn-default btn-xl page-scroll">Explore</a>
        </div>
    </div>
</header>

<script>

</script>