
@{
    ViewData["Title"] = "Subscription";
}

<div class="container body-content">
    <h2>@ViewData["Title"].</h2>

    <h4>Searching services.</h4>
    <hr />
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_2uTO5iGEzuZns66zBpAO3gks"
            data-amount="10"
            data-name="The Life Time Talents"
            data-description="Lifetime Subscription"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-currency="sgd">
    </script>
</div>
