<script src="https://js.stripe.com/v3/"></script>

@{
    ViewData["Title"] = "Subscription";
}

<div class="container body-content">
    <h2>@ViewData["Title"].</h2>
    <div class="row">
        <div class="col-md-6 pull-left" id="loadPage">
            @*<form id="myForm" class="form-horizontal smaller-width">
                    <h4>View and seach all public talents.</h4>
                    <hr />
                    <p>Enjoy searching and viewing talents at only S$9.99/month!</p>
                    <p>Total Amount: S$9.99</p>
                    <br />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input name="cardholdername" id="cardholder-name" class="form-control" placeholder="Jane Doe" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input name="cardholderemail" id="cardholder-email" class="form-control" placeholder="Jane@tltt.com" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Card</label>
                        <div class="col-md-10">
                            <div id="card-element" class="form-control"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="outcome">
                                <div class="error1" role="alert"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button id="btnPay" type="submit" class="btn btn-default">Pay $9.99</button>
                        </div>
                    </div>

                </form>*@
        </div>
    </div>
</div>

<script>

    var idToken = sessionStorage.getItem('idToken');

    var role_name;

    loadPlanData();

    function loadPlanData() {

        loadPlanDataHandler = jQuery.ajax({
            method: 'GET',
            url: 'http://server.anythingabout.me/API/Subscription/GetSubscription',
            crossDomain: true,
            dataType: 'json',
            cache: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + idToken)
            }
        })
        loadPlanDataHandler.done(function (data, textStatus, jqXHR) {

            console.log(data);

            var planName = data.planName;
            var planPrice = data.planAmount;
            var planCurrency = data.planCurrency;
            var planInterval = data.planInterval;

            var roundedPlanPrice = (planPrice / 100).toFixed(2);





            loadRole();

            function loadRole() {

                loadRoleHandler = jQuery.ajax({
                    method: 'GET',
                    url: 'http://server.anythingabout.me/Account/GetUserDetails/',
                    crossDomain: true,
                    dataType: 'json',
                    cache: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'bearer ' + id_token)
                    }
                })
                loadRoleHandler.done(function (data, textStatus, jqXHR) {

                    role_name = data.roleName;

                    if (role_name === "Standard") {

                        $("#loadPage").html(
                            "<form id='myForm' class='form-horizontal smaller-width'>"
                            + " <h4>View and seach all public talents.</h4>"
                            + " <hr />"
                            + "  <p>Upgrade to " + planName + " Account to enjoy searching and viewing talents at only " + planCurrency.toUpperCase() + " $" + roundedPlanPrice + "/" + planInterval + "</p>"
                            + " <p>Total Amount: " + planCurrency.toUpperCase() + " $" + roundedPlanPrice + "</p>"
                            + "  <br />"
                            + "  <div class='form-group'>"
                            + "      <label class='col-md-2 control-label'>Name</label>"
                            + "      <div class='col-md-10'>"
                            + "         <input name='cardholdername' id='cardholder-name' class='form-control' placeholder='Jane Doe' />"
                            + "      </div>"
                            + "   </div>"
                            + "   <div class='form-group'>"
                            + "       <label class='col-md-2 control-label'>Email</label>"
                            + "       <div class='col-md-10'>"
                            + "           <input name='cardholderemail' id='cardholder-email' class='form-control' placeholder='Jane@tltt.com' />"
                            + "       </div>"
                            + "   </div>"
                            + "   <div class='form-group'>"
                            + "       <label class='col-md-2 control-label'>Card</label>"
                            + "       <div class='col-md-10'>"
                            + "         <div id='card-element' class='form-control'></div>"
                            + "     </div>"
                            + "  </div>"

                            + " <div class='form-group'>"
                            + " <div class='col-md-offset-2 col-md-10'>"
                            + "    <div class='outcome'>"
                            + "       <div class='error1' role='alert'></div>"
                            + "   </div>"
                            + "  </div>"
                            + "    </div >"

                            + "  <div class='form-group'>"
                            + "    <div class='col-md-offset-2 col-md-10'>"
                            + "       <button id='btnPay' type='submit' class='btn btn-default'>Pay " + " $" + roundedPlanPrice + "</button>"
                            + "    </div>"
                            + "  </div>"

                            + "   </form >"
                        );

                        loadStripe();

                    } else {
                        $("#loadPage").html(
                            "<form id='myForm' class='form-horizontal smaller-width'>"
                            + " <h4>View and seach all public talents.</h4>"
                            + " <hr />"
                            + "  <p>You are currently subscribing to Premium plan at S$9.99/month!</p>"
                            + "  <br />"
                            + "  <div class='form-group'>"
                            + "    <div class='col-md-offset-2 col-md-10'>"
                            + "       <button id='btnUnsubscribe' type='submit' onClick='Unsubscribe();' class='btn btn-default'>Unsubscribe</button>"
                            + "    </div>"
                            + "  </div>"
                            + "   </form >"
                        );
                    }

                })
                loadRoleHandler.fail(function (data, textStatus, jqXHR) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-left",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["error"]("There was an issue retrieving data from the server.", "Error")
                })
            }


        })
        loadPlanDataHandler.fail(function (data, textStatus, jqXHR) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"]("There was an issue retrieving data from the server.", "Error")
        })
    }




    function Unsubscribe() {

        event.preventDefault();

        swal({
            title: "Are you sure you want to unsubscribe?",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            confirmButtonColor: "#F05F40",
            showLoaderOnConfirm: true,
        },
            function () {
                unsubscribeHandler = jQuery.ajax({
                    method: 'GET',
                    url: 'http://server.anythingabout.me/API/Subscription/Unsubscribe',
                    crossDomain: true,
                    dataType: 'json',
                    cache: false,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'bearer ' + id_token)
                    }
                })
                unsubscribeHandler.done(function (data, textStatus, jqXHR) {

                    window.location.replace("/Home/Subscription");

                })
                unsubscribeHandler.fail(function (data, textStatus, jqXHR) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-left",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr["error"]("There was an issue retrieving data from the server.", "Error")
                })
            });
    }

    function loadStripe() {

        var stripe = Stripe('pk_test_2uTO5iGEzuZns66zBpAO3gks');
        var elements = stripe.elements();

        var card = elements.create('card', {
            hidePostalCode: true,
            style: {
                base: {
                    '::placeholder': {
                        color: '#999999',
                    },
                },
            }
        });
        card.mount('#card-element');

        function setOutcome(result) {
            var errorElement = document.querySelector('.error1');
            errorElement.classList.remove('visible');

            if (result.token) {

                swal({
                    title: "Proceed to make a payment?",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    confirmButtonColor: "#F05F40",
                    showLoaderOnConfirm: true,
                },
                    function () {
                        function WebFormData(inName, inEmail, inTokenId) {
                            this.stripeName = inName;
                            this.stripeEmail = inEmail;
                            this.stripeToken = inTokenId;
                        }

                        collectedName = result.token.card.name;
                        collectedEmail = result.token.email;
                        collectedTokenId = result.token.id;

                        var webFormData = new WebFormData(collectedName,
                            collectedEmail, collectedTokenId);

                        var webFormDataInString = JSON.stringify(webFormData);

                        console.log(webFormDataInString);

                        $paymentHandler = jQuery.ajax({
                            type: 'POST',
                            url: 'http://server.anythingabout.me/API/Subscription/Pay',
                            crossDomain: true,
                            data: webFormDataInString,
                            dataType: 'json',
                            contentType: 'application/json',
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader('Authorization', 'bearer ' + idToken)
                            }
                        });

                        $paymentHandler.done(function (data, textStatus, jqXHR) {
                            swal({
                                title: "Successful!",
                                text: "Payment Made!",
                                type: "success",
                                confirmButtonColor: "#F05F40",
                            },
                                function () {
                                    ignore = true;
                                    window.location.replace("/Home/Subscription");
                                });
                        });

                        $paymentHandler.fail(function (data, textStatus, jqXHR) {
                            swal({
                                title: "Error!",
                                text: "Payment fail!",
                                type: "error",
                                confirmButtonColor: "#F05F40",
                            });
                        });
                    });

            } else if (result.error) {
                errorElement.textContent = result.error.message;
                errorElement.classList.add('visible');
            }
        }

        card.on('change', function (event) {
            setOutcome(event);
        });

        $(document).ready(function () {

            $("#myForm").validate({
                rules: {
                    cardholdername: {
                        required: true,
                    },
                    cardholderemail: {
                        required: true,
                    },
                },
                messages: {
                    cardholdername: {
                        required: "Please enter your name",
                    },
                    cardholderemail: {
                        required: "Please enter your email",
                    },
                },
                onkeyup: false, //turn off auto validate whilst typing
                submitHandler: function (form) {

                    event.preventDefault();

                    var form = document.querySelector('form');
                    var extraDetails = {
                        name: $('#cardholder-name').val(),
                        email: $('#cardholder-email').val(),
                    };
                    stripe.createToken(card, extraDetails).then(setOutcome);

                }
            });

        });
    }



</script>