
@{
    ViewData["Title"] = "Subscription";
}

<div class="container body-content">
    <h2>@ViewData["Title"].</h2>

    <h4>Searching services.</h4>
    <hr />

    <p>Simply pay a one-time subsciption fee of S$10 and start enjoying the Search function! </p>
    <p>Total Amount: S$10</p>

    <form action="http://server.anythingabout.me" method="POST">
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="pk_live_cF98jjTrDp9t9BHl5BJHba8v"
                data-locale="auto"
                data-name="The Life Time Talents"
                data-description="S$10"
                data-amount="1000"
                data-currency="sgd">
        </script>
    </form>

</div>