<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>
@{
    ViewData["Title"] = "Talent Upload";
}
<div class="container body-content">
    <h2>@ViewData["Title"].</h2>


    <h4>Upload a new talent.</h4>
    <hr />

    <form id="myForm" data-toggle="validator">
        <div class="form-group">
            <label class="col-md-2 control-label">Talent Name</label>
            <div class="col-md-10">
                <input type="text" id="txtTalentName" name="txtTalentName" class="form-control" />
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Short Name</label>
            <div class="col-md-10">
                <input type="text" id="txtShortName" name="txtShortName" class="form-control" />
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Reknown</label>
            <div class="col-md-10">
                <input type="text" id="txtReknown" name="txtReknown" class="form-control" />
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Bio</label>
            <div class="col-md-10">
                <textarea type="text" id="txtBio" name="txtBio" class="form-control"></textarea>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label" title="Making it private will hide your talent from the public">Make Private</label>
            <div class="col-md-10">
                <input type="checkbox" id="privacy" name="privacy" value="privacy">
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <div class="col-md-2 control-label"></div>
            <div class="col-md-10">
                <img id="currentImage" class="thumbnail padding-bottom" />
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Image</label>
            <div class="col-md-10">
                <input type="file" name="file" id="file" value="dataFile" input-group-lg" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 padding-top padding-bottom">
                <button id="uploadFile" type="submit" class="btn btn-default">Update</button>
            </div>
        </div>
    </form>
</div>
<script>



    var isPrivate = false;

    var talentList = "";
    var talentName = "";
    var shortName = "";
    var reknown = ""
    var bio = "";
    var isPrivate = "";
    var imageUrl = "";
    var html_imgs = '';

    loadTalentData();

    function loadTalentData() {

        var idToken = sessionStorage.getItem('idToken');

        loadTalentDataHandler = jQuery.ajax({
            method: 'GET',
            url: 'http://server.anythingabout.me/API/Talents/GetTalent',
            crossDomain: true,
            dataType: 'json',
            cache: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + idToken)
            }
        })
        loadTalentDataHandler.done(function (data, textStatus, jqXHR) {

            console.log(data);
            talentList = data;


            talentName = talentList.talentName;
            shortName = talentList.shortName;
            reknown = talentList.reknown;
            bio = talentList.bio;
            isPrivate = talentList.isPrivate;
            imageUrl = talentList.imageUrl;

            $('#txtTalentName').val(talentName);
            $('#txtShortName').val(shortName);
            $('#txtReknown').val(reknown);
            $('#txtBio').val(bio);

            if (isPrivate == true) {
                $("[name='privacy']").bootstrapSwitch('state', true);
            }
            else {
                $("[name='privacy']").bootstrapSwitch('state', false);
            }

            $('#currentImage').attr('src', imageUrl);

        })
        loadTalentDataHandler.fail(function (data, textStatus, jqXHR) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"]("There was an issue retrieving data from the server.", "Error")
        })
    }

    window.$PhotoInputElement = $('#file');

    window.$PhotoInputElement.fileinput({
        maxFileCount: 1,
        overwriteInitial: false,
        showUpload: false,
        showRemove: false,
        browseClass: 'btn btn-primary btn-md pull-right',
        previewFileIcon: '<i class="glyphicon glyphicon-king"></i>',
        allowedFileExtensions: ['jpg', 'jpeg', 'png'],
    });

    $(document).ready(function () {

        $("#myForm").validate({
            rules: {
                txtTalentName: {
                    required: true,
                },
                txtShortName: {
                    required: true,
                },
                txtReknown: {
                    required: true,
                },
                txtBio: {
                    required: true,
                },
                file: {
                    required: true,
                },
            },
            messages: {
                txtTalentName: {
                    required: "Please enter your talent name",
                },
                txtShortName: {
                    required: "Please enter your short name",
                },
                txtReknown: {
                    required: "Please enter your reknown",
                },
                txtBio: {
                    required: "Please enter your bio",
                },
                file: {
                    required: "Please select a file",
                },
            },
            onkeyup: false, //turn off auto validate whilst typing
            submitHandler: function (form) {

                function WebFormData(inTalentName, inShortName, inReknown, inBio, inIsPrivate, inImageUrl) {
                    this.TalentName = inTalentName;
                    this.ShortName = inShortName;
                    this.Reknown = inReknown;
                    this.Bio = inBio;
                    this.IsPrivate = inIsPrivate;
                    this.ImageUrl = inImageUrl;
                }

                //NO FRONT END VALIDATION YET
                collectedTxtTalentName = $('#txtTalentName').val();
                collectedTxtShortName = $('#txtShortName').val();
                collectedTxtReknown = $('#txtReknown').val();
                collectedTxtBio = $('#txtBio').val();
                imageUrl = "http://i2.cdn.cnn.com/cnnnext/dam/assets/160721172133-35-week-in-photos-0722-super-169.jpg"

                var file = $('#file').get(0).files.item(0);


                console.log(file);


                if ($("#privacy").is(':checked')) {
                    isPrivate = true;
                }
                else {
                    isPrivate = false;
                }

                var webFormData = new WebFormData(collectedTxtTalentName,
                    collectedTxtShortName, collectedTxtReknown, collectedTxtBio, isPrivate, imageUrl);

                var webFormDataInString = JSON.stringify(webFormData);

                console.log(webFormDataInString);

                var idToken = sessionStorage.getItem('idToken');

                $talentHandler = jQuery.ajax({
                    type: 'PUT',
                    url: 'http://server.anythingabout.me/API/Talents/UpdateTalent',
                    crossDomain: true,
                    data: webFormDataInString,
                    dataType: 'json',
                    contentType: 'application/json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'bearer ' + idToken)
                    }
                });

                $talentHandler.done(function (data, textStatus, jqXHR) {

                    swal({
                        title: "Successful!",
                        text: "Talent Added!",
                        type: "success"
                    },
                        function () {
                            ignore = true;
                            window.location.replace("/Home/Index");
                        });

                });

                $talentHandler.fail(function (data, textStatus, jqXHR) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-bottom-left",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }

                    toastr["error"](jqXHR, "Error")
                });
            }
        });

    });
</script>
