<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>
@{
    ViewData["Title"] = "View Talent";
}
<div class="container body-content">
    <h5 class="orange-text">Previous page</h5>
    <h2>@ViewData["Title"].</h2>


    <h4 id="txtDisplayName"></h4>
    <hr />

    <form id="myForm" data-toggle="validator">
        <div class="form-group">
            <label class="col-md-2 control-label">Talent Name</label>
            <div class="col-md-10">
                <text id="txtTalentName"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Short Name</label>
            <div class="col-md-10">
                <text id="txtShortName"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Reknown</label>
            <div class="col-md-10">
                <text id="txtReknown"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Bio</label>
            <div class="col-md-10">
                <text id="txtBio"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Private</label>
            <div class="col-md-10">
                <text id="txtPrivate"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Current Image</label>
            <div class="col-md-10">
                <img id="currentImage" class="thumbnail" />
            </div>
        </div>

        <div class="form-group">
            <div id="disqus_thread"></div>
        </div>



    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.94.0/aws-sdk.js"></script>
<script id="dsq-count-scr" src="//http-talents-anythingabout-me.disqus.com/count.js" async></script>
<script>

    var g_userId = getIdFromAddressBar();

    function getIdFromAddressBar() {
        var urlArray = window.location.href.split('/');
        var userId = urlArray[urlArray.length - 1];
        return userId;
    }

    var idToken = sessionStorage.getItem('idToken');

    var isBan = false;
    var talentList = "";
    var talentName = "";
    var shortName = "";
    var reknown = ""
    var bio = "";
    var isPrivate = "";
    var imageUrl = "";
    var displayName = "";
    var role_Name = "";

    loadTalentData();

    function loadTalentData() {

        loadTalentDataHandler = jQuery.ajax({
            method: 'GET',
            url: 'http://server.anythingabout.me/API/Talents/GetPublicTalent/' + g_userId,
            crossDomain: true,
            dataType: 'json',
            cache: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + idToken)
            }
        })
        loadTalentDataHandler.done(function (data, textStatus, jqXHR) {

            console.log(data);
            talentList = data;

            talentName = talentList.talentName;
            shortName = talentList.shortName;
            reknown = talentList.reknown;
            bio = talentList.bio;
            isPrivate = talentList.isPrivate;
            imageUrl = talentList.imageUrl;
            displayName = talentList.displayName;
            role_Name = talentList.roleName;
            IsBanned = talentList.isBanned;

            $('#txtTalentName').text(talentName);
            $('#txtShortName').text(shortName);
            $('#txtReknown').text(reknown);
            $('#txtBio').text(bio);
            $('#txtDisplayName').text("Talent uploaded by " + displayName);

            if (role_Name == "Standard") {
                $("#roleValue").val("1");

            }
            else if (role_Name == "Premium") {
                $("#roleValue").val("2");

            }
            else {
                $("#roleValue").val("3");

            }

            $("#roleValue").selectpicker("refresh");


            if (isPrivate == true) {
                $('#txtPrivate').text("Yes");
            }
            else {
                $('#txtPrivate').text("No");
            }

            if (IsBanned == true) {
                $("[name='ban']").bootstrapSwitch('state', true);
            }
            else {
                $("[name='ban']").bootstrapSwitch('state', false);
            }

            $('#currentImage').attr('src', imageUrl);

        })
        loadTalentDataHandler.fail(function (data, textStatus, jqXHR) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr["error"]("There was an issue retrieving data from the server.", "Error")
        })
    }


</script>


<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = g_userId; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'https://http-talents-anythingabout-me.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>