<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>

<div class="body-content-small">

    <div class="toCenter search">
            <div class="">
                <input type="text" id="inputSearch" class="form-control input-sm search-input" placeholder="Type here..." />
            </div>
            <button type="submit" id="btnSearch" class="btn btn-default">Search</button>
    </div>

    <div class="container-fluid">
        @*<div class="row no-gutter popup-gallery" id="load_Image">*@
            <div class="row no-gutter" id="load_Image">
            </div>
    </div>
</div>

<script type="text/javascript">

    var talentList = "";
    var talentName = "";
    var shortName = "";
    var reknown = ""
    var bio = "";
    var isPrivate = "";
    var imageUrl = "";
    var html_imgs = "";
    var username = "";
    var userId = "";

    loadTalentData();

    function loadTalentData() {

        var idToken = sessionStorage.getItem('idToken');

        loadTalentDataHandler = jQuery.ajax({
            method: 'GET',
            url: 'https://server.anythingabout.me/API/Talents/GetPublicTalents',
            crossDomain: true,
            dataType: 'json',
            cache: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + idToken)
            }
        })
        loadTalentDataHandler.done(function (data, textStatus, jqXHR) {

            console.log(data);
            talentList = data;

            for (i = 0; i < talentList.length; i++) {
                talent = talentList[i];
                talentName = talent.talentName;
                shortName = talent.shortName;
                reknown = talent.reknown;
                bio = talent.bio;
                isPrivate = talent.isPrivate;
                imageUrl = talent.imageUrl;
                username = talent.userName;
                userId = talent.userId;

                if (imageUrl != null) {
                    html_imgs = "<div class='col-lg-4 col-sm-6 forSearch'>"
                        + "<a href='/Talent/ViewOneTalent/" + userId + "' class='portfolio-box'>"
                        + "<img src='" + imageUrl + "' class='img-responsive' alt=''/>"
                        + "<div class='portfolio-box-caption'>"
                        + "<div class='portfolio-box-caption-content'>"
                        + "<div class='project-name'>" + talentName + ""
                        + "</div> "
                        + "<div class='project-category text-faded'>"
                        + "<text>Short Name: " + shortName + "</text>"
                        + "<br/>"
                        + "<text>Reknown: " + reknown + "</text>"
                        + "<br/>"
                        + "<text>Bio: " + bio + "</text>"
                        + "<br/><br/>"
                        + "<text>Uploaded by " + username + "</text>"
                        + "</div>"
                        + "</div> "
                        + "</div> "
                        + "</a> "
                        + "</div>";

                    $("#load_Image").append(html_imgs);
                }

                $('#btnSearch').click(function () {
                    $('.forSearch').hide();
                    var txt = $('#inputSearch').val();
                    $('.forSearch').each(function () {
                        if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                            $(this).show();
                        }
                    });
                });

            }

        })
        loadTalentDataHandler.fail(function (data, textStatus, jqXHR) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            if (data.responseJSON.message === "Session Expired. Please login again.") {
                toastr["error"](data.responseJSON.message, "Error")
            }

            else {
                toastr["error"]("Error retrieving data", "Error")
            }
        })
    }
</script>
