<script src="httpss://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>
@{
    ViewData["Title"] = "View Talent";
}
<div class="container body-content">
    <a class="orange-text" onclick="loadPrevious();">Previous page</a>
    <h2>@ViewData["Title"].</h2>


    <h4 id="txtDisplayName"></h4>
    <hr />

    <form id="myForm" data-toggle="validator">
        <div class="form-group">
            <label class="col-md-2 control-label">Talent Name</label>
            <div class="col-md-10">
                <text id="txtTalentName"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Short Name</label>
            <div class="col-md-10">
                <text id="txtShortName"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Reknown</label>
            <div class="col-md-10">
                <text id="txtReknown"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Bio</label>
            <div class="col-md-10">
                <text id="txtBio"></text>
            </div>
        </div>

        <br /><br /><br />

        <div class="form-group">
            <label class="col-md-2 control-label">Current Image</label>
            <div class="col-md-10">
                <img id="currentImage" class="thumbnail" />
            </div>
        </div>

        <div class="form-group">
            <div id="disqus_thread"></div>
        </div>



    </form>
</div>
<script src="httpss://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.94.0/aws-sdk.js"></script>
<script id="dsq-count-scr" src="//https-talents-anythingabout-me.disqus.com/count.js" async></script>
<script>

    var g_userId = getIdFromAddressBar();

    function getIdFromAddressBar() {
        var urlArray = window.location.href.split('/');
        var userId = urlArray[urlArray.length - 1];
        return userId;
    }

    var idToken = sessionStorage.getItem('idToken');

    var talentList = "";
    var talentName = "";
    var shortName = "";
    var reknown = ""
    var bio = "";
    var imageUrl = "";
    var displayName = "";

    loadTalentData();

    function loadTalentData() {

        loadTalentDataHandler = jQuery.ajax({
            method: 'GET',
            url: 'https://server.anythingabout.me/API/Talents/GetPublicTalent/' + g_userId,
            crossDomain: true,
            dataType: 'json',
            cache: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader('Authorization', 'bearer ' + idToken)
            }
        })
        loadTalentDataHandler.done(function (data, textStatus, jqXHR) {

            console.log(data);

            talentList = data;
            talentName = talentList.talentName;
            shortName = talentList.shortName;
            reknown = talentList.reknown;
            bio = talentList.bio;
            imageUrl = talentList.imageUrl;
            displayName = talentList.displayName;

            $('#txtTalentName').text(talentName);
            $('#txtShortName').text(shortName);
            $('#txtReknown').text(reknown);
            $('#txtBio').text(bio);
            $('#txtDisplayName').text("Talent uploaded by " + displayName);

            $('#currentImage').attr('src', imageUrl);

        })
        loadTalentDataHandler.fail(function (data, textStatus, jqXHR) {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            if (data.responseJSON.message === "Session Expired. Please login again.") {
                toastr["error"](data.responseJSON.message, "Error")
            }

            else {
                toastr["error"]("Error retrieving data", "Error")
            }
        })
    }

    function loadPrevious() {
        location.replace("/Talent/ViewTalents");
    }

    var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = g_userId; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'httpss://https-talents-anythingabout-me.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();

</script>

<noscript>Please enable JavaScript to view the <a href="httpss://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>