@{
    ViewData["Title"] = "Log in";
}

<div class="container body-content">
    <h2>@ViewData["Title"].</h2>
    <div class="row">
        <div class="col-md-6 pull-left">
            <form id="myForm" class="form-horizontal smaller-width">
                <h4>Use your TLTT account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input class="form-control" id="txtEmail" name="txtEmail" type="email" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input class="form-control" id="txtPassword" name="txtPassword" type="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button id="btnLogin" type="submit" class="btn btn-default">Log in</button>
                    </div>
                </div>
                <div>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                    </p>
                </div>
            </form>
        </div>
        @*<div class="col-md-4">
                <section>
                    <h4>Use another service to log in.</h4>
                    <hr />
                </section>
            </div>*@
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#myForm").validate({
            rules: {
                txtEmail: {
                    required: true,
                },
                txtPassword: {
                    required: true,
                },
            },
            messages: {
                txtEmail: {
                    required: "Please enter your email",
                },
                txtPassword: {
                    required: "Please enter your password",
                },
            },
            onkeyup: false, //turn off auto validate whilst typing
            submitHandler: function (form) {

                $("#btnLogin").attr('disabled', 'disabled');

                event.preventDefault();

                function WebFormData(inEmail, inPassword) {
                    this.Email = inEmail;
                    this.Password = inPassword;
                }

                collectedTxtEmail = $('#txtEmail').val();
                collectedTxtPassword = $('#txtPassword').val();

                var webFormData = new WebFormData(collectedTxtEmail,
                    collectedTxtPassword);

                var webFormDataInString = JSON.stringify(webFormData);

                $loginHandler = jQuery.ajax({
                    type: 'POST',
                    url: 'https://server.anythingabout.me/Account/Login',
                    crossDomain: true,
                    data: webFormDataInString,
                    dataType: 'json',
                    contentType: 'application/json',
                });

                $loginHandler.done(function (data, textStatus, jqXHR) {

                    accessToken = data.access_token;
                    idToken = data.id_token;

                    sessionStorage.clear();
                    sessionStorage.setItem('accessToken', accessToken);
                    sessionStorage.setItem('idToken', idToken);
                    window.location.replace("/Home/Index");
                });

                $loginHandler.fail(function (data, textStatus, jqXHR) {
                    $("#btnLogin").removeAttr("disabled") 
                    swal({
                        title: "Error!",
                        text: "Login fail!",
                        type: "error",
                        confirmButtonColor: "#F05F40",
                    });
                });
            }
        });

    });
</script>